.volver{
    margin: 20px;
    color: #FF4E00;
    font-size: 2em;
}
#container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;   
    margin: 30px;
    padding: 30px;
    height: auto;
    width: auto;
    column-gap: 5%;
}
.flex-item1{
   
    padding: 20px;
    width:40vw;
    height: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
    text-align: left;
    background-color: gray;
    align-items: flex-start;
    
}
.flex-item1 label{
    margin-top: 10px;
    line-height: 2em;
}
.flex-item1 input{
    width: 25vw;
    height: 1.5em;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
}
.flex-item1 select{
    width: 30%;
    height: 1.5em;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
}
.flex-item1 textarea{
    
    font-size: 1em;
    width: auto;
}

.flex-item1 button{
    font-size: 1.2em;
    font-weight: bold;
    height: 6%;
    width: auto;
}
.flex-item2{
    align-items: flex-start;
  
    width:40vw;
    height: auto;
}


  @media screen and (max-width: 700px){
      #container{
        width: auto;
        flex-wrap: wrap;
      }
      .flex-item1{
        width: 60vw;
      }
      .flex-item1 input{
          width: auto;
      }
      .flex-item2{
        padding-top: 2em;
        width: auto;
      }
    
        
      }
  