@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Lobster+Two:ital,wght@1,700&display=swap');

*{
   padding: 0;
    margin:0;
    
}
body{
    background:rgb(182, 238, 233);
    
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(97, 115, 229);
    width: 100vw;
    height: 10vw;
    color: beige;
    font-family: 'Lobster Two', cursive ;
    font-size: 8vw;
    
}

.imagen1{
    display: flex;
    flex-direction: row;
    float: left;
    height: 10vw;
    width: auto;
    

}
.imagen2{
    display: flex;
    flex-direction: row;
    float: right;
    height: 10vw;
    width: auto;

}
.nav-bar{
    display: flex;
    width: 100vw;
}

 .nav-list{
     display:flex;
     justify-content:space-around;
     height: 50px;
     width:100%;
     flex-direction: row;
     flex-wrap: nowrap;   
     background-color:blue;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 1.5em;
     
 }

    .nav-list li{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
   
    align-content: center;
    color: white;
    background-color:blue;
    
  }
 
  .nav-list li a{
    background-color: blue;
    color: white;
  }
  .nav-list li a:hover{
      background-color: white;
      color:blue;
  }
  @media only screen and (max-width:600px){
    .nav-list{
    display:flex;
    justify-content: space-around;
    width:100%;
    height: 10vw;
    font-size:4vw;
    flex-direction: row;
    flex-wrap: nowrap;  
    }
 }
 
   
.mensaje img{
    width: 100vw;
    height:50vh;
}

.quienes-somos{
    margin: 30px;
    height: auto;
}
.quienes-somos h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.2em;
    margin-top: 2em;
}
.somos {
    margin: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8em;
}


@media screen and (max-width:600px){
    .mensaje img{
        height: auto;
    }
    .quienes-somos{
        margin: 10px;
        padding: 20px;
    }
    .quienes-somos h1{
        font-size: 1.8em;
    }

    .somos{
        font-size: 1.2em;
        margin-top: 10px;
    }

}
.pie-pagina{
    background-color: blue;
    width: 100vw;
    height: 22vh;
    margin-bottom: 0px;
}
 .grupo{
    width: 100%; 
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-top: 30%;

}
 .box{
    width: 25vw;
    column-gap: 30%;  
    margin: 2vw;
}
 .box p{
    color: rgb(182, 238, 233);
    margin-left: 10%; 
}

.box figure img{
    height: 11vh;
    width: 11vw;
    border-radius: 120px;
    margin-left: 10vw;
}
 .box h2{
    color: rgb(182, 238, 233);
    margin-bottom: 10px;
    font-size: 1.2em;
    margin-left: 8vw;
}
.redsocial{
    margin-left: 8vw;
}
 .redsocial a{
    
    text-decoration: none;
    width: 3.5em;
    height: 3em;
    line-height: 3em;
    color: antiquewhite;
    background-color: darkblue;
    padding: 0.5em;
    text-align: center;
    font-size: 1.2em;
    
}

 .redsocial a:hover{
    background-color: aqua;
}


@media screen and (max-width: 600px){
    header{
        height: auto;
    }
   
    .pie-pagina{
        height: auto;
    }
    .box figure img{
        margin-top: 2em;
    }
     .box h2{
        font-size: 0.8em;
       margin-left: 6vw;
    }
    
}